@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CADETERIA</h1>
    <p>CADETES</P>
     <p>Cadete <a asp-controller = "Cadete" asp-action="Index" >CLICK</a>.</p>
</div>
