@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CADETERIA</h1>
    <p>CADETES</P>
     <p>Cadete <a asp-controller = "Cadete" asp-action="ListaCadete" >CLICK</a>.</p>
     <p>CARGAR Cadete <a asp-controller = "Cadete" asp-action="CargarCadete" >CLICK</a>.</p>
     <p>CLIENTES</P>
      <p>Cliente <a asp-controller = "Cliente" asp-action="ListaCliente" >CLICK</a>.</p>
     <p>CARGAR Cliente <a asp-controller = "Cliente" asp-action="CargarCliente" >CLICK</a>.</p>
      <p>Pedidos</P>
      <p>Pedidos <a asp-controller = "Pedido" asp-action="Index" >CLICK</a>.</p>
     <p>CARGAR Pedido <a asp-controller = "Pedido" asp-action="CargarPedido" >CLICK</a>.</p>
</div>
