@{
    ViewData["Title"] = "Cargar Cliente";
}

@model CadeteriaWeb.Models.ViewModels.CargarClienteViewModel 

<body>
<header>
    <main>
      <h1 class="display-4">INGRESAR DATOS DEL CLIENTE </h1>
    <form asp-controller="Cliente" asp-action="CargarCliente" method="post">

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="nombre"> Nombre: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="nombre" name="nombre" required placeholder="Juan Perez">
                </div>
            </div>  

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="direccion">Direccion :</label>
                <div class="col-sm-6">
                     <input class="form-control" type="text" id="direccion" name="direccion" required placeholder="San Martin 125">
                  
                </div>
            </div>

           <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="telefono">Telefono :</label>
                <div class="col-sm-6">
                     <input class="form-control" type="text" id="telefono" name="telefono" required placeholder="381-15">
                  
                </div>
            </div>


            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <input class="btn btn-primary" type="submit" value="Cargar">
                </div>
           
        </form>
    </main>
</header>
</body>